img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

header ul a {
  font-size: 1.3rem;
}

header {
  z-index: 10000;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 0.5rem 0.25rem;
  box-shadow: 0px 0px 0.25vh 0 rgb(129, 129, 129);
}

@media (max-width: 715px) {
  header {
    position: initial;
  }
  .header ul a {
    max-width: 5ch;
    overflow: hidden;
  }
}

.header {
  max-width: 1200px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: auto;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .header {
    justify-content: center;
  }
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.logo > div {
  display: flex;
  width: 50px;
}
.logo > div > img {
  margin: auto;
}

.logo > h1 {
  font-size: 2rem;
}

.header ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 3rem;
}

.header ul > a:hover {
  text-decoration: underline;
}

.img_group {
  display: flex;
  gap: 1rem;
}

.img_group a > img {
  padding: 0.5rem;
  width: 30px;
  cursor: pointer;
}

.img_group  a > img:hover {
  opacity: 0.5;
}
